* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  color: black;
}

button {
  background-color: #dd5c18;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0.09px black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1em 2em;
}

button:hover {
  box-shadow: inset 250px 0 0 0 black;
  transform: scale(1.1);
}

/* MAIN HUD */

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 2px solid white;
}

.top-link {
  position: absolute;
  top: 2em;
  left: 85%;
  font-size: .8em;
  color: #eaeaea;
  text-decoration: none;
  font-weight: 700;
}

/* MAIN MENU */

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 20000;
}

.stack {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  color: #606060;
}

.bg {
  background: #101010;
  opacity: .99;
}

.fullscreen .logout {
  background: transparent;
  border: none;
  width: auto;
  color: white;
  display: block;
  margin: 10px auto;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.fullscreen.ready .stack {
  display: none;
}

/* CUSTOMIZER */

.customizer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

.customizer span {
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.customizer span svg {
  width: 24px;
  padding-right: 5px;
}

.share {
  bottom: 40px;
  position: absolute;
  right: 40px;
}

/* SHIRT OVERLAY */

.color-options {
  position: absolute;
  left: 1em;
  bottom: 10em;
  padding: .5em;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

.circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.decals {
  position: absolute;
  left: 50px;
  bottom: 40px;
}

.decals img {
  width: 3em;
  filter: saturate(0) invert(1) brightness(1);
  transition: all 0.2s ease-in-out;
  background-color: rgb(40, 40, 40);
  border-radius: 5%;
  padding: .5em;
}

.decals img:hover, .decals img.active {
  filter: none;
  transform: scale(1.2);
  cursor: pointer;
}

.decals--container {
  display: flex;
  gap: 20px;
}